@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
    min-height: 100vh;
    background: #B90094;
    background: -webkit-gradient(linear, left top, left bottom, from(#333399), to(#B90094));
    background: linear-gradient(to bottom, #333399, #B90094);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
    margin: 0 auto;
}



/*GLOBAL*/

.btn {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
    width: 40px;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.btn:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.btn:hover,
.btn .hover {
    /*color: #000000;*/
}

.btn:hover:after,
.btn .hover:after {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}




/* ------------------------------------------------------------ */

.page__main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

.app__name {
    color: #D7C1DF;
    text-align: center;
}



/* --------------------------------- */

.toDoList {
    margin: 20px auto;
    max-width: 400px;
    min-height: auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 32px 10px rgba(0, 0, 0, 0.76);
    box-shadow: 0px 10px 32px 10px rgba(0, 0, 0, 0.76);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.toDoList__header {
    height: auto;
    background-color: #2C285F;
    color: #00AFE4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
}

.toDoList__text {
    width: 50%;
    font-size: 1.2rem;
}

.toDoList__name {
    width: 100%;
    margin: 5px 0px;
    background-color: transparent;
    color: #C1E400;
    padding: 2px 20px;
    border: none;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.toDoList__newTask {
    background-color: #00AFE4;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px;
    border: 1px solid white;
}

.toDoList__add {
    color: white;
    border: 2px solid white;
    margin-bottom: 0;
}

.toDoList__add:hover {
    color: #037BE1;
    border-color: #037BE1;
}

.toDoList__container {
    padding: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.toDoList__task {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.task__check {
    color: lightgreen;
    border: 2px solid lightgreen;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
}

.task__name {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 2px 0;
    width: 70%;
}

.task__label {
    margin-left: 50px;
}

.task_priority {

    font-weight: bold;
    position: relative;
    background-color: transparent;
    border: none;
    color: lightblue;
}

.task__date {
    margin: 0;
}

.task__delete {
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    color: red;
    border: none;
    margin: 0;
    padding: 0;
}

.checked {
    position: relative;
    pointer-events: none;
}

.blured {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    pointer-events: none;
}

.checked:after {
    position: absolute;
    content: '';
    background-color: grey;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    opacity: 0.5;

    -webkit-box-shadow: 0px 0px 40px 2px grey;

    box-shadow: 0px 0px 40px 2px grey;
}


/* add list */

.AddList {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    min-width: 340px;
    max-width: 440px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #D7C1DF;
    background-color: #71477F;
    margin: 10px 0;
    z-index: 2;
}

.AddList__header {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 10px;
    text-align: center;
}

.AddList__input {
    font-size: 1.1em;
    background-color: #00AFE4;
    color: #f9f8fa;
    border: 1px solid #f9f8fa;
    padding: 2px;
    border-radius: 5px;
}

.AddList__addBtn {
    background-color: transparent;
    border: none;
    color: #00AFE4;
    position: relative;
    min-width: 35px;
    height: 90%;
}

.AddList__addBtn:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 5px;
    right: 5px;
    border: 2px solid #00AFE4;
    border-radius: 5px;
}

.AddList__addBtn:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 5px;
    right: 5px;
    border: 2px solid #00AFE4;
    border-radius: 5px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.AddList__info--countList,
.AddList__info--countTask {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
}